
@{
    ViewBag.LoginFailed = (ViewBag.LoginFailed ?? false);
    ViewBag.HideLogin = (ViewBag.HideLogin ?? false);
    ViewBag.Title = "Login";
}


    @Html.Hidden("SavedCurrentPassword", Session["Password"])
    @using (Html.BeginForm("PasswordChangeUpdate", "Home", FormMethod.Post, new { @class = "center", @id = "frmChangePassword" }))
    {
        var @DisplayLogin = ViewBag.HideLogin ? "display:none" : "";
        <div id="divLogin" class="" style="@DisplayLogin" align="center">
            @*<h1 class="h3 mb-3 font-weight-bold" style="font-size:large;text-decoration:underline ">Change password:</h1><br />*@
            <table id="tblPasswordChange" style="width:100%"> 
                <tr>
                    <td style="width:25%" align="left">
                        <label style="text-align:right;">Current:</label>
                    </td>
                    <td align="left" class="flex-container">
                        @Html.Password("txtCurrentPassword", null, new { @style = "width:90%", @class = "wpcf7-form-control wpcf7-text rma-textfield form-control", @placeholder = "Current Password", @required = "", @autofocus = "", @maxlength = "50" })
                        <button id="show_password" class=" show-password" style="display:none" type="button">
                            <span class="fa fa-eye icon"></span>
                        </button>
                    </td>
                    @*<td align="left">
                        <button id="show_password" class="btn btn-primary show-password" style="display:none" type="button">
                            <span class="fa fa-eye icon"></span>
                        </button>
                    </td>*@
                </tr>
                <tr>
                    <td style="width:25%" align="left">
                        <label style="text-align:right;">New:</label>
                    </td>


                    <td align="left" class="flex-container" >
                        @Html.Password("txtNewPassword", null, new { @minlength = "8", @maxlength = "50", @style = "width:90%", @class = "wpcf7-form-control wpcf7-text rma-textfield form-control", @placeholder = "New Password", @required = "", @autofocus = "", @id = "password-txt" })
                        <button id="show_password" class=" show-password" style="display:none" type="button">
                            <span class="fa fa-eye icon"></span>
                        </button>
                        <div id="password-details" class="hidden" align="center">
                            <p>Password must have the following:</p>
                            <ul class="indent">
                                <li>At least 8 characters</li>
                                <li>1 uppercase letter, i.e. A</li>
                                <li>1 lowercase letter, i.e. a</li>
                                <li>1 digit, i.e 1</li>
                                <li>1 special character (#?!@@$%^&*_) </li>
                            </ul>
                        </div>
                    </td>
                    @*<td align="left">
            <button id="show_password" class="btn btn-primary show-password" style="display:none" type="button">
                <span class="fa fa-eye icon"></span>
            </button>
        </td>*@

                </tr>
                <tr>
                    <td style="width:25%" align="left">
                        <label style="text-align:right">Confirm:</label>
                    </td>
                    @*<td align="left" class="flex-container" style="width:100%">

                        <input autofocus="" class="wpcf7-form-control wpcf7-text rma-textfield form-control validate-error" id="password-txt" maxlength="20" minlength="8" name="txtNewPassword" placeholder="New Password" required="" style="width:100%" type="password" aria-required="true" autocomplete="none" aria-invalid="true">
                        <button id="show_password" class=" show-password" style="" type="button">
                            <span class="fa fa-eye icon"></span>
                        </button>
                    </td>*@
                    <td align="left" class="flex-container">
                        @Html.Password("txtConfirmPassword", null, new { @style = "width:90%", @class = "wpcf7-form-control wpcf7-text rma-textfield form-control", @placeholder = "Confirm Password", @required = "", @autofocus = "", @id = "confirm-password-txt" })
                        <button id="show_password" class=" show-password" style="" type="button">
                            <span class="fa fa-eye icon"></span>
                        </button>
                    </td>
                    @*<td align="left">
                        <button id="show_password" class="btn btn-primary show-password" style="display:none" type="button">
                            <span class="fa fa-eye icon"></span>
                        </button>
                    </td>*@
                </tr>
                <tr class="blank_row">
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p id="error_msg_change_pwd" style="font-style:italic;color:white;background-color:red;display:none;text-align:center"> The passwords do not match! </p>
                    </td>
                </tr>
              
                <tr class="blank_row">
                    <td colspan="2">&nbsp;</td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <p id="success_ms//    ViewBag.Title = "Home Page";g_change_pwd" style="font-style:italic;color:white;background-color:forestgreen;display:none;text-align:center"> The password has been changed </p>
                    </td>
                </tr>
            </table>

        </div>


    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/Login/bootbox.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="~/Scripts/ParabitScripts/password_validation.js"></script>
<script>
    $("#frmChangePassword").validate({
        errorClass: 'validate-error',
        errorPlacement: function (error, element) {
            var detail = element.closest("tr").after("<tr></tr>");
            var newRow = $('<tr><td> </td></tr>').insertAfter(element.closest('tr'));
            error.appendTo(newRow);
        }
    });
    
</script>